ini
[submodule "backend"]
    path = backend
    url = https://github.com/FairGigAI/8thDegree-core.git
    branch = dev

[submodule "ai"]
    path = ai
    url = https://github.com/FairGigAI/8thdegree-ai.git
    branch = dev

[submodule "docs"]
	path = docs
	url = https://github.com/FairGigAI/8thDegree-docs.git
    branch = dev

[submodule "examples"]
	path = examples
	url = https://github.com/FairGigAI/8thDegree-examples.git
    branch = dev

[submodule "preview"]
    path = preview
    url = https://github.com/FairGigAI/8thdegree-preview.git
    branch = dev

[submodule "infra"]
	path = infra
	url = https://github.com/FairGigAI/8thDegree-infra.git
    branch = dev
